$columns : 12!default;
$gutter:20px!default;
$medium:640px;
$large:1024px;
@mixin responsive-columns($suffix : ''){
	@for $i from 0 through $columns{
		@if $i!=0{
			.col#{$suffix}-#{$i}
			{
			width :$i/$columns*100%;
			}
			}
			.col#{$suffix}-offset-#{$i}{margin-left:$i/$columns*100%;}
		
	}

			.col#{$suffix}-center{margin: 0 auto; float :none;}
			.#{$suffix}-show{display : inline-block;}
			.#{$suffix}-hide{display : none;}

			
}
%col{
	float:left;
	position : relative;
}
%clearfix{
	&:before,&:after{
	content : "";
	display:table;
	}
	&:after{
	clear:both;
	}
	&{
	zoom:1;
	}
}

@for $i from 1 through $columns {
	
	.col-s-#{$i},.col-m-#{$i},.col-l-#{$i}{
	@extend %col;}
	
}

@include responsive-columns('-s');	
 .row{
  margin : 0 $gutter * -0.5;
  margin-right: auto;
  margin-left: auto;
 @extend %clearfix}
@media only screen and (min-width : $medium){

	@include responsive-columns('-m');
}
@media only screen and (min-width : $large){
	
	@include responsive-columns('-l');
}

