* {
    box-sizing: border-box;
}

/*Body*/
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    color: #333;
    background-color: #FFF;
}
body {
    margin: 0px;
}
/*Typography*/
/*Headings*/
h1, .h1 {
    font-size: 36px;
    margin: 0.67em 0px;
}
h2{
    font-size: 30px;
}

h3{
    font-size: 24px;
}

h1, h1,h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

h4{
    font-size: 18px;
}

h5{
    font-size: 14px;
}

h6{
    font-size: 12px;
}

h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}



h1, h2, h3, h4, h5, h6{
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}



/*paragraphs*/
p {
    margin: 0px 0px 10px;
}
._p {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.4;
}

/*Inline text elements*/
/*Marked text*/
mark {
    color: #000;
    background: none repeat scroll 0% 0% #FF0;
}

mark {
    padding: 0.2em;
    background-color: #FCF8E3;
}


/*Deleted text*/
del{
    text-decoration: line-through;
}

/*Small text*/

small, .small {
    font-size: 85%;
}

/*Bold*/
b, strong {
    font-weight: 700;
}

/*Italics*/
em,i,.italic{
    font-style: italic;
}

/*Alignment classes*/
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.text-justify {
    text-align: justify;
}
.text-nowrap {
    white-space: nowrap;
}

/*Transformation classes*/
.text-lowercase {
    text-transform: lowercase;
}
.text-uppercase {
    text-transform: uppercase;
}
.text-capitalize {
    text-transform: capitalize;
}

/*Abbreviations*/
abbr[title], abbr[data-original-title] {
    cursor: help;
    border-bottom: 1px dotted #777;
}
/*Addresses*/
address {
    margin-bottom: 20px;
    font-style: normal;
    line-height: 1.42857;
}

/*Link*/
a:focus {
    outline: thin dotted;
    outline-offset: -2px;
}
a:hover, a:focus,a:active,a:visited {
    
    text-decoration: none;
    color: rgba(51, 51, 51, 0.68);
}
a {
    color: #428BCA;
    text-decoration: none;
    background: none repeat scroll 0px 0px transparent;
}

/*Blockquotes*/
blockquote:before, blockquote:after {
    content: "";
}
blockquote {
    padding: 10px 20px;
    margin: 0px 0px 20px;
    font-size: 17.5px;
    border-left: 5px solid #EEE;
}

/*Lists*/
/*------------*/
ul, ol {
    margin-top: 0px;
    margin-bottom: 10px;
}
ol, ul {
    list-style: none outside none;
}

/*List-Unstyled*/
.list-unstyled {
    padding-left: 0px;
    list-style: none outside none;
}

/*List-Inline*/
.list-inline {
    padding-left: 0px;
    margin-left: -5px;
    list-style: none outside none;
}

/*List-Description*/
dl {
    margin-top: 0px;
    margin-bottom: 20px;
}
dt {
    font-weight: 700;
}
dt, dd {
    line-height: 1.42857;
}

/*Horizontal description*/
.dl-horizontal dt {
    float: left;
    width: 160px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*Code*/
/*---------*/
/*inline*/
code {
    padding: 2px 4px;
    font-size: 90%;
    color: #C7254E;
    background-color: #F9F2F4;
    border-radius: 4px;
}
code, kbd, pre, samp {
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

/*User input*/
kbd {
    padding: 2px 4px;
    font-size: 90%;
    color: #FFF;
    background-color: #333;
    border-radius: 3px;
    box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25) inset;
}

/*Basic block*/
pre {
    display: block;
    padding: 9.5px;
    margin: 0px 0px 10px;
    font-size: 13px;
    line-height: 1.42857;
    color: #333;
    background-color: #F5F5F5;
    border: 1px solid #CCC;
    border-radius: 4px;
}

/*Table*/
/*--------*/
/*Basic*/

table {
    background-color: transparent;
}
table {
    border-spacing: 0px;
    border-collapse: collapse;
    border: 1px solid #DDD;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

/*Form*/
/*--------*/
/*Basic*/

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.radio, .checkbox {
    position: relative;
    display: block;
    min-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.radio label, .checkbox label {
    padding-left: 20px;
    margin-bottom: 0px;
    font-weight: 400;
    cursor: pointer;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #333;
    background-color: #FFF;
    border-color: #CCC;
}
.btn:hover{
    background-color: #CCC;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #CCC;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
}

/*Button*/
/*---------*/
/*Size*/
.btn-lg{
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}

.btn-sm{
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.btn-xs{
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

/*Image*/
/*--------*/
img {
    vertical-align: middle;
}
img {
    border: 0px none;
}
/*Rounded*/
.img-rounded {
    border-radius: 6px;
}
/*circle*/
.img-circle {
    border-radius: 50%;
}
/*thumbnail*/
.thumbnail {
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 4px;
    line-height: 1.42857;
    background-color: #FFF;
    border: 1px solid #DDD;
    border-radius: 4px;
}


    /*-------------------------------------------------------------*/
/*Media queries*/
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
