#cnx{
	border: 1px solid #333;
display: inline-block;
padding: 0em 0em 2em;
text-align: center;
}

.cnx_title{
	border: 1px solid #333;
width: 30em;
text-align: center;
margin-bottom: 1em;
border-left: none;
border-right: none;
background-color: #333;
color: #F4F4F4;

}
.barre img{
	float: right;
margin-top: -0.3em;
margin-left: 0em;
display: inline-block
}

.cnx > h4{
	margin: 0.2em;
}

.content_cnx{
text-align: center;
padding: 8em 0em 2em;	
}

.btn_login{
border: 1px solid #333;
background-color: #333;
padding: 8px 72px 8px;
margin-left: 0em;
display: inline-flex;
background-position: center center;
color: #F4F4F4;
margin-top: 1em;
}
.btn_login:hover{
	background-color: #f4f4f4;
	color: #333;
	cursor: pointer;
}
/*.barre{
	
}*/

.barre_ad{
border: 1px solid #333;
padding: 0.4em;
background-color: #333;
}

.barre_ad > a>  h5{
	margin: 0em;
color: #F4F4F4;
display: inline-block;
padding: 0.2em;
}
.barre_ad > a > h5:hover{
	background-color: #f4f4f4;
	color: #333;
	cursor: pointer;
}

#img_doc{
	float: right;
}
/************LoanByAdherent***************/
.add_emprunt{
padding: 3em 3em 3em 17em;
margin-bottom: 2em;
}

.recap{
	border: 1px solid #333;
padding: 2em;
width: 80%;
}

.recap_title{
border-bottom: 1px solid #333;
text-align: center;
margin: -2em -2em 2em -2em;
}

.recap_details{
	margin-bottom: 1em;
}
.tab{
    border: 1px solid #333;
    text-align: center;
}
.tab tr:nth-child(even) {background: #333; color:#f4f4f4;}
.recap_details tr:nth-child(odd) {background: #f4f4f4;}

.print{
	text-align: right;
}