body{
	background-image: url('img/bg1.jpg');
	background-attachment: fixed;
}
#content{
font-family: Georgia,"Times New Roman",serif;
}

a{
	color: #333;
}

/***********  Header  **********/
.header{

}

.titre, .type, .genre, .edition, .description {
    margin-bottom: 2em;
}
.home_search{
padding-bottom: 2em;
}

.title_bib{
	margin-bottom: 0.5em;	
	margin-top: 3em;
}

.barre{
border: 1px solid #333;
padding: 1.5em;
background-color: #333;
}

.title_bib h2{
display: inline-block;
color: #333;
font-family: Georgia,"Times New Roman",serif;
font-weight: bold;
margin: 0px;
}

.title_bib img{
	float: right;
display: inline-block;
margin-top: -3.2em;
}

/***********  search  **********/

.search1,.result1{
    padding: 1em;
    border: 1px solid #333;
margin-top: 2em;
margin-bottom: 2em;
}
.search1{
 padding: 2em;
}
.search1 > div{
	display: inline-block;
	margin-top: -1em;
}

.d1{
	margin-left: 5em;
}
.d2{
	margin-left: 10em;
}

.label{
display: inline;
text-align: center;
font-weight: bold;

}

.label:nth-child(4){
	margin-left: 19em;
margin-right: 0em;
}

.radio_word{
	display: inline-block;
}

.loop{
border: 1px dotted #333;
border-right: none;
background-color: #333;
padding: 3px 20px 4px !important;
margin-left: 1em !important;
display: inline-flex;
background-image: url('img/loop.png');
background-repeat: no-repeat;
background-position: center;

}

.loop:hover{
	background-color: #f4f4f4;
	cursor: pointer;
}


.d1 > input{
padding: 3.6px 4px 4.5px;
margin-left: -4px;
border: 1px dotted #333;

}

.radio_word input{
margin-left: 75px;
}

.radio_word span{
	margin-left: 1em;
}
/* ************************/

.search2{
margin-left: 20em;
}

.search2 fieldset{
	border: 1px solid #333;
	padding: 1em;
display: block;

}

.search_type, .search_category{
display: inline-block;
padding: 3em;
border: 1px dotted #333;
}

.search_type .inputs , .search_category .inputs{
margin-left: 0em;
float: right;
} 

.search_category{
	float: right;
padding-bottom: 6.5em;
}


/***********  Footer  **********/
.footer h2{
margin-top: 10px;
}

.footer{
border: 1px solid #333;
background-color: #333;
color: #F4F4F4;
text-align: center;
margin-top: 9em;
}

/************* Result-Search ******************/

span > a{
	margin-left: 1em;
	
}
.word_result{
margin-left: 7em;
}

.word_result,.return_search{
	display: inline-block;
}

.word_result > span{
	border: 1px solid #333;
padding: 0.3em;
margin-left: 2em;
}

.result2{
	border: 1px solid #333;
}

.result_elements{
	border: 2px dotted #333;
padding: -1em 5em 1em;
margin-top: 1em;

}

.doc_info, .doc_img,.doc_desc{
	display: inline-block;
}
.doc_type{
display: inline-flex;
}

.doc_info{
	padding-left: 4em;
	width: 67%;
}

.doc_img{
	
}

.doc_info p {
	color: #333;
}
.doc_desc {
	width: 53%;
}

.thumbnail{
	background-color: #333;
    border: 1px solid #333;
}

/************  Staff  ********************/
.home_menu{
	padding: 5em;
border: 1px solid #333;
margin-top: 3em;
padding-bottom: 3em;
text-align: center;
}
.content_details{
	border: 1px solid #333;
    padding: 0.5em;
    display: inline-block;
}
.titre, .type, .genre, .edition, .description {
display: block;
margin-bottom: 2em;
}
.img_doc{
display: inline-block;
float: left;
}
.img_doc>img{
max-width: 80%;
margin-right: -10em;
}
.img_type{
	float: right;
margin-top: -1.3em;
}
.info_details{
	margin-left: 20em;
border-left: 2px dotted #333;
padding-left: 1em;
}
._p {
font-size: 18px;
font-weight: 300;
line-height: 1.4;
}
.menu_emprunt,.menu_return{
	border: 1px solid #333;
display: inline-block;
text-align: center;
width: 15em;
padding-top: 1em;
padding-bottom: 1em;
margin: 4em;
cursor: pointer;
}

.menu_emprunt:hover,.menu_return:hover{
background-color: #333;
color:#f4f4f4;
}