/* line 1, ../sass/framework.scss */
* {
  box-sizing: border-box;
}

/*Body*/
/* line 6, ../sass/framework.scss */
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: #333;
  background-color: #FFF;
}

/* line 13, ../sass/framework.scss */
body {
  margin: 0px;
}

/*Typography*/
/*Headings*/
/* line 18, ../sass/framework.scss */
h1, .h1 {
  font-size: 36px;
  margin: 0.67em 0px;
}

/* line 22, ../sass/framework.scss */
h2 {
  font-size: 30px;
}

/* line 26, ../sass/framework.scss */
h3 {
  font-size: 24px;
}

/* line 30, ../sass/framework.scss */
h1, h1, h2, h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

/* line 35, ../sass/framework.scss */
h4 {
  font-size: 18px;
}

/* line 39, ../sass/framework.scss */
h5 {
  font-size: 14px;
}

/* line 43, ../sass/framework.scss */
h6 {
  font-size: 12px;
}

/* line 47, ../sass/framework.scss */
h4, .h4, h5, .h5, h6, .h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 54, ../sass/framework.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

/*paragraphs*/
/* line 64, ../sass/framework.scss */
p {
  margin: 0px 0px 10px;
}

/* line 67, ../sass/framework.scss */
._p {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.4;
}

/*Inline text elements*/
/*Marked text*/
/* line 76, ../sass/framework.scss */
mark {
  color: #000;
  background: none repeat scroll 0% 0% #FF0;
}

/* line 81, ../sass/framework.scss */
mark {
  padding: 0.2em;
  background-color: #FCF8E3;
}

/*Deleted text*/
/* line 88, ../sass/framework.scss */
del {
  text-decoration: line-through;
}

/*Small text*/
/* line 94, ../sass/framework.scss */
small, .small {
  font-size: 85%;
}

/*Bold*/
/* line 99, ../sass/framework.scss */
b, strong {
  font-weight: 700;
}

/*Italics*/
/* line 104, ../sass/framework.scss */
em, i, .italic {
  font-style: italic;
}

/*Alignment classes*/
/* line 109, ../sass/framework.scss */
.text-left {
  text-align: left;
}

/* line 112, ../sass/framework.scss */
.text-right {
  text-align: right;
}

/* line 115, ../sass/framework.scss */
.text-center {
  text-align: center;
}

/* line 118, ../sass/framework.scss */
.text-justify {
  text-align: justify;
}

/* line 121, ../sass/framework.scss */
.text-nowrap {
  white-space: nowrap;
}

/*Transformation classes*/
/* line 126, ../sass/framework.scss */
.text-lowercase {
  text-transform: lowercase;
}

/* line 129, ../sass/framework.scss */
.text-uppercase {
  text-transform: uppercase;
}

/* line 132, ../sass/framework.scss */
.text-capitalize {
  text-transform: capitalize;
}

/*Abbreviations*/
/* line 137, ../sass/framework.scss */
abbr[title], abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #777;
}

/*Addresses*/
/* line 142, ../sass/framework.scss */
address {
  margin-bottom: 20px;
  font-style: normal;
  line-height: 1.42857;
}

/*Link*/
/* line 149, ../sass/framework.scss */
a:focus {
  outline: thin dotted;
  outline-offset: -2px;
}

/* line 153, ../sass/framework.scss */
a:hover, a:focus, a:active, a:visited {
  text-decoration: none;
  color: rgba(51, 51, 51, 0.68);
}

/* line 158, ../sass/framework.scss */
a {
  color: #428BCA;
  text-decoration: none;
  background: none repeat scroll 0px 0px transparent;
}

/*Blockquotes*/
/* line 165, ../sass/framework.scss */
blockquote:before, blockquote:after {
  content: "";
}

/* line 168, ../sass/framework.scss */
blockquote {
  padding: 10px 20px;
  margin: 0px 0px 20px;
  font-size: 17.5px;
  border-left: 5px solid #EEE;
}

/*Lists*/
/*------------*/
/* line 177, ../sass/framework.scss */
ul, ol {
  margin-top: 0px;
  margin-bottom: 10px;
}

/* line 181, ../sass/framework.scss */
ol, ul {
  list-style: none outside none;
}

/*List-Unstyled*/
/* line 186, ../sass/framework.scss */
.list-unstyled {
  padding-left: 0px;
  list-style: none outside none;
}

/*List-Inline*/
/* line 192, ../sass/framework.scss */
.list-inline {
  padding-left: 0px;
  margin-left: -5px;
  list-style: none outside none;
}

/*List-Description*/
/* line 199, ../sass/framework.scss */
dl {
  margin-top: 0px;
  margin-bottom: 20px;
}

/* line 203, ../sass/framework.scss */
dt {
  font-weight: 700;
}

/* line 206, ../sass/framework.scss */
dt, dd {
  line-height: 1.42857;
}

/*Horizontal description*/
/* line 211, ../sass/framework.scss */
.dl-horizontal dt {
  float: left;
  width: 160px;
  overflow: hidden;
  clear: left;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*Code*/
/*---------*/
/*inline*/
/* line 224, ../sass/framework.scss */
code {
  padding: 2px 4px;
  font-size: 90%;
  color: #C7254E;
  background-color: #F9F2F4;
  border-radius: 4px;
}

/* line 231, ../sass/framework.scss */
code, kbd, pre, samp {
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

/*User input*/
/* line 236, ../sass/framework.scss */
kbd {
  padding: 2px 4px;
  font-size: 90%;
  color: #FFF;
  background-color: #333;
  border-radius: 3px;
  box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25) inset;
}

/*Basic block*/
/* line 246, ../sass/framework.scss */
pre {
  display: block;
  padding: 9.5px;
  margin: 0px 0px 10px;
  font-size: 13px;
  line-height: 1.42857;
  color: #333;
  background-color: #F5F5F5;
  border: 1px solid #CCC;
  border-radius: 4px;
}

/*Table*/
/*--------*/
/*Basic*/
/* line 262, ../sass/framework.scss */
table {
  background-color: transparent;
}

/* line 265, ../sass/framework.scss */
table {
  border-spacing: 0px;
  border-collapse: collapse;
  border: 1px solid #DDD;
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

/*Form*/
/*--------*/
/*Basic*/
/* line 278, ../sass/framework.scss */
input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* line 283, ../sass/framework.scss */
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}

/* line 290, ../sass/framework.scss */
.radio, .checkbox {
  position: relative;
  display: block;
  min-height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 297, ../sass/framework.scss */
.radio label, .checkbox label {
  padding-left: 20px;
  margin-bottom: 0px;
  font-weight: 400;
  cursor: pointer;
}

/* line 304, ../sass/framework.scss */
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #333;
  background-color: #FFF;
  border-color: #CCC;
}

/* line 322, ../sass/framework.scss */
.btn:hover {
  background-color: #CCC;
}

/* line 326, ../sass/framework.scss */
.form-group {
  margin-bottom: 15px;
}

/* line 330, ../sass/framework.scss */
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  color: #555;
  background-color: #FFF;
  background-image: none;
  border: 1px solid #CCC;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

/* line 346, ../sass/framework.scss */
.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373;
}

/*Button*/
/*---------*/
/*Size*/
/* line 356, ../sass/framework.scss */
.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

/* line 363, ../sass/framework.scss */
.btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

/* line 370, ../sass/framework.scss */
.btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

/*Image*/
/*--------*/
/* line 379, ../sass/framework.scss */
img {
  vertical-align: middle;
}

/* line 382, ../sass/framework.scss */
img {
  border: 0px none;
}

/*Rounded*/
/* line 386, ../sass/framework.scss */
.img-rounded {
  border-radius: 6px;
}

/*circle*/
/* line 390, ../sass/framework.scss */
.img-circle {
  border-radius: 50%;
}

/*thumbnail*/
/* line 394, ../sass/framework.scss */
.thumbnail {
  display: inline-block;
  max-width: 100%;
  height: auto;
  padding: 4px;
  line-height: 1.42857;
  background-color: #FFF;
  border: 1px solid #DDD;
  border-radius: 4px;
}

/*-------------------------------------------------------------*/
/*Media queries*/
/* line 408, ../sass/framework.scss */
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  /* line 415, ../sass/framework.scss */
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  /* line 420, ../sass/framework.scss */
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  /* line 425, ../sass/framework.scss */
  .container {
    width: 1170px;
  }
}
