@media only screen and (min-width : 640px) and (max-width : 1024px){
 .search1{
 	margin-top: 0;
 }
 .add_emprunt {
    padding-top: 0.5em;
padding-right: 0em;
padding-bottom: 0.5em;
padding-left: 0em;
}

#rech_titre_desc {
    margin-right: 0em !important;
}

 .loop{
 	margin-left: 0!important;
 	height: 27px;
 }
 .footer{
 	display: none;
 }
 .img_type{
 	width:20%;
 }
 .content_cnx {
    padding: 2em 0em 2em;
}
 .radio_word input {
    margin-left: 0!important;
}
 .result1{
 	margin:0!important;
 }
 .img_doc>img{
 	max-width: 56%;

 }
 .content_details{
 	height: 30%;
 }

 .result_elements{
 	padding: 0!important;
 }
 
 .d1{
 	margin-left: 0!important;
 }
 .d2{
 	margin-left: 2em!important;
 }
 .radio_word span{
 	margin-left: 0!important;
 }

}