@media screen and (min-width:239px) and (max-width: 640px) {
    #content{
  	margin:0!important;
  }
  .d1{
  	margin-left:-2em!important;

  }
  .nb_result{
  	text-align: center;
  }
  .word_result{
  	display: none;
  }
.img_doc>img{
 	display: none;
 }

.info_details {
    margin-left: 0em!important;
    border-left: 0;
}
.img_type {
	max-width:20%;
}
.home_search {
    margin-top: -2em;
}
.footer{
	display: none;
}
.add_emprunt {
    padding: 0!important;
}
.title_bib h2 {
    font-size: 150%;
}
.search1 {
    padding: 2em 2em 5em!important;
}
.title_bib img {
    margin-top:-2em;
    width: 20%;
}
  .radio_word span {
    margin-left: 0!important;
}
  .d2{
  	margin-left: -1em!important;
  	margin-top: 1em!important;
  }
  .loop{
  	margin-left: 0!important;
  }
  #rech_titre_desc{
  	margin-right: 0!important;
  }
  .radio_word input{
  	margin-left: 0!important;
  }
  .search_type, .search_category {
    display: block;
     padding: 4em;
}
.search1 > div {
    display:block;

}
}