body{
	background-image: url('img/bg1.jpg');
	background-attachment: fixed;
}
#content{
margin: 4em;
margin-bottom: 0.5em;
font-family: Georgia,"Times New Roman",serif;
}

a{
	color: #333;
}

/***********  Header  **********/
.header{

}
.home_search{
padding-bottom: 2em;
}
input[name="insert_doc"]{
	margin-top: 2em;
}
.title_bib{
	margin-bottom: 0.5em;	
	margin-top: 3em;
}
.add_adherent{
border: 1px solid #333;
padding: 2em;
width: 50%;
margin: 4em 7em 0em 20em;
}


.barre{
border: 1px solid #333;
padding: 1.5em;
background-color: #333;
}

.title_bib h2{
display: inline-block;
color: #333;
font-family: Georgia,"Times New Roman",serif;
font-weight: bold;
margin: 0px;
}

.title_bib img{
	float: right;
display: inline-block;
margin-top: -3.2em;
}
#rech_titre_desc{
	margin-right: -3em !important;
}
/***********  Footer  **********/
.footer h2{
margin-top: 10px;
}

.footer{
border: 1px solid #333;
background-color: #333;
color: #F4F4F4;
text-align: center;
margin-top: 9em;
}

/*********** Home Staff *****************/
.home_menu{
	padding: 5em;
border: 1px solid #333;
margin-top: 3em;
padding-bottom: 3em;
text-align: center;
}

.menu_emprunt,.menu_return{
	border: 1px solid #333;
display: inline-block;
text-align: center;
width: 15em;
margin: 4em;
cursor: pointer;
}

.menu_emprunt>strong>a,.menu_return>strong>a{
padding: 1em;
display: inline-block;
}
strong>a:hover{
	color:white !important;
}
.menu_emprunt:hover ,.menu_return:hover{
background-color: #333;

}

/*************Emprunt*************/
.content_emprunt{
border: 1px solid #333;
padding: 0em 1em 1em;
margin-top: 5em;
margin-bottom: -8em;
}

.label{
display: inline;
text-align: center;
font-weight: bold;

}

.add_emprunt{
padding: 3em 3em 3em 17em;
margin-bottom: 2em;
}
.add_emprunt > fieldset{
	border: 2px dotted #333;
padding: 2em;
width: 80%;
}

.inputs_emprunt,.list_ref{
	display: inline-block;
}

.inputs_emprunt{
	float: left;
	margin-right: 4em;
}

.ref_doc{
	border: 1px solid #333;
padding: 1em;
margin-top: 1em;
}

.ref_doc >input{
	font-weight: bold;
}

.list_ref > select{
	display: block;
width: 12em;
}

/**********Recap emprunt************/
.recap{
	border: 1px solid #333;
padding: 2em;
width: 80%;
}

.recap_title{
border-bottom: 1px solid #333;
text-align: center;
margin: -2em -2em 2em -2em;
}

.recap_details{
	margin-bottom: 1em;
}
.tab{
    border: 1px solid #333;
    text-align: center;
}
.tab tr:nth-child(even) {background: #333; color:#f4f4f4;}
.recap_details tr:nth-child(odd) {background: #f4f4f4;}

.print{
	text-align: right;
}

.add_adherent{
border: 1px solid #333;
padding: 2em;
width: 50%;
margin: 4em 7em 0em 20em;
}

#form{
	display: inline-block;
}
.f1{
	display: inline-block;
width: 20%;
}
.inputs{
display: inline-block;
margin-top: 0.2em;
float: left;
}
.f2{
	display: inline-block;
	float: right;
	margin-right: -4em;

}
.f22{
	width: 35%;
margin-right: 2em;
}
.f2 .inputs{
width: 70%;
}
.f_titre{
border-bottom: 1px solid #333;
margin-left: -2em;
margin-right: -2em;
margin-top: -2em;
text-align: center;
margin-bottom: 2em;
background-color: #333;
padding-top: 0.1em;
color: #f4f4f4;	
}


/**************Update Adherent*******************/
.input_ad{
	border: 2px dotted #333;
padding: 1em 0em 1em 3em
}

.input_ad input{
	margin-right: 1.5em;
}
.menu_staff{
display: inline-block;
margin-right: 1em;
margin-left: 5em;
}

.menu_staff:hover{
background-color: #f4f4f4;
}

.menu_staff a{
display: inline-block;
color: #F4F4F4;
padding-left: 0.5em;
padding-right: 0.5em;

}

.menu_staff a:hover{
color: #333;
}

.barre{
border: 1px solid #333;
padding: 0.5em;
background-color: #333;
text-align: center;
}
/***********Gestion_Ad*******/
.gestion_ad{
border: 1px dotted #333;	
}

.gestion_ad a{

color: #333 !important;

}

.gestion_ad a:hover{
color: #f4f4f4 !important;
background-color: #333;
}
