/* line 4, ../sass/style.scss */
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: #333;
  background-color: #FFF;
  background-image: url("../img/bg7.png");
}

@media only screen and (min-width: 640px) {
  /* line 16, ../sass/style.scss */
  .nav_bar {
    border: 1px solid #E2E5D1;
    background-color: #3D3234;
    padding: 5px;
    text-align: center;
    margin: 1px 1px 0px 1px;
    background-image: url("../img/bg1.png");
  }

  /* line 26, ../sass/style.scss */
  .separator {
    color: rgba(226, 229, 209, 0.51);
    font-weight: bold;
    font-size: 1em;
    margin-left: 2em;
    margin-right: 2em;
  }

  /* line 34, ../sass/style.scss */
  .menu_link {
    border: 1px solid #3D3234;
    background-image: url("../img/bg1.png");
    color: #f4f4f4;
    text-align: center;
    font-family: Helvetica;
    font-size: 1em;
    padding: 3px 15px;
    font-weight: bold;
  }

  /* line 47, ../sass/style.scss */
  .menu_link:hover {
    color: #3D3234;
    background-color: #D9241B;
    background-image: url("../img/bg7.png");
  }

  /* line 53, ../sass/style.scss */
  .banner {
    background-image: url("../img/banner.png");
    text-align: center;
    height: 15%;
    margin: 2px 2px 0px 2px;
    padding: 7.5em;
  }

  /* line 68, ../sass/style.scss */
  .category:hover {
    background-color: #f4f4f4;
  }

  /* line 73, ../sass/style.scss */
  div[class^='image_cat'] {
    width: 196px;
    height: 89px;
  }

  /* line 78, ../sass/style.scss */
  .image_cat1 {
    background: url("../img/category.png") no-repeat scroll -2042px -2px transparent;
  }

  /* line 81, ../sass/style.scss */
  .image_cat2 {
    background: url("../img/category.png") no-repeat scroll -1842px -2px transparent;
  }

  /* line 84, ../sass/style.scss */
  .image_cat3 {
    background: url("../img/category.png") no-repeat scroll -1642px -2px transparent;
  }

  /* line 87, ../sass/style.scss */
  .image_cat4 {
    background: url("../img/category.png") no-repeat scroll -1442px -2px transparent;
  }

  /* line 90, ../sass/style.scss */
  .image_cat5 {
    background: url("../img/category.png") no-repeat scroll -1240px -2px transparent;
  }

  /* line 93, ../sass/style.scss */
  .image_cat6 {
    background: url("../img/category.png") no-repeat scroll -1042px -2px transparent;
  }

  /* line 97, ../sass/style.scss */
  .caption_cat {
    height: 41px;
    border-radius: 0px 0px 3px 3px;
    text-shadow: 0px 1px rgba(255, 255, 255, 0.2);
    border-top: 1px solid #F4F7F9;
    background-image: url("../img/bg1.png");
  }

  /* line 105, ../sass/style.scss */
  .caption_cat h5 {
    font-size: 12px;
    line-height: 39px;
    margin: 5px 0px 0px 4px;
    font-weight: bold;
    color: #f4f4f4;
  }

  /*----------------------------*/
  /* line 115, ../sass/style.scss */
  .aside {
    margin-top: 1em;
    display: inline-block;
    padding: 0px;
    padding-bottom: 0.5em;
    background-image: url("../img/bg7.png");
  }

  /* line 124, ../sass/style.scss */
  .aside_title {
    text-align: center;
    border-bottom: 1px solid #E2E5D1;
    border-top: 1px solid #E2E5D1;
    margin: 0px;
    background-color: #f4f4f4;
    background-image: url("../img/bg1.png");
  }

  /* line 133, ../sass/style.scss */
  .aside_title > h4, .category_title > h4 {
    color: #f4f4f4;
    font-weight: bold;
    font-family: Helvetica;
    font-size: 1.1em;
  }

  /* line 140, ../sass/style.scss */
  .aside_city li {
    border: 2px solid #E2E5D1;
    text-align: center;
    font-family: Helvetica;
    font-weight: bold;
    cursor: pointer;
    width: 39%;
    float: left;
    /*background-image: url('../img/bg1.png');
    color: #f4f4f4;*/
  }

  /* line 151, ../sass/style.scss */
  .aside_city li:hover {
    background-image: url("../img/bg1.png");
    /*background: #D9241B;*/
    color: #f4f4f4;
  }

  /*----------------------*/
  /* line 159, ../sass/style.scss */
  .footer {
    border: 2px solid #E2E5D1;
    background-color: #3D3234;
    padding: 0px;
    text-align: center;
    margin: 0px;
    color: #E2E5D1;
    clear: both;
    background-image: url("../img/bg1.png");
  }

  /**************************************************/
  /*Page Search.html*/
  /* line 174, ../sass/style.scss */
  .barre_search {
    border: 1px solid;
    padding: 40px;
    margin: 10px 2px 10px 0px;
    text-align: center;
    background-image: url("../img/bg1.png");
  }

  /* line 182, ../sass/style.scss */
  .barre_search input, .barre_search select {
    margin: -40px 10px 0px;
    width: 17em;
  }

  /* line 187, ../sass/style.scss */
  .btn {
    float: right;
    float: right;
    padding-right: 3em;
    padding-left: 3em;
    margin-right: 1.2em;
    background-image: url("../img/bg7.png");
    font-weight: bold;
  }

  /* line 196, ../sass/style.scss */
  .btn:hover {
    /*background:rgba(156, 60, 60, 1);*/
    background-image: url("../img/bg7.png");
    color: #011527;
  }

  /* line 206, ../sass/style.scss */
  .detail {
    display: inline-block;
  }

  /* line 210, ../sass/style.scss */
  .annonce {
    border: 1px solid #E2E5D1;
    padding: 12px 0px 132px;
    margin: 1em;
    cursor: pointer;
    /*background-image: url('../img/bg1.png');*/
  }

  /* line 219, ../sass/style.scss */
  .annonce:hover, .v_a_d:hover {
    background-image: url("../img/bg1.png");
    color: #f4f4f4;
  }

  /* line 224, ../sass/style.scss */
  .vedette {
    border: 1px solid #E2E5D1;
    margin: 1em;
    float: right;
  }

  /***************************/
  /* line 231, ../sass/style.scss */
  .date_a, .title_a, .image_a, .price_a {
    float: left;
    display: inline-block;
    margin: 0px 30px 0px 18px;
    /*color: #f4f4f4;*/
  }

  /* line 237, ../sass/style.scss */
  .date_a {
    margin-top: 1em;
  }

  /* line 245, ../sass/style.scss */
  .title_a {
    margin-top: 3em;
  }

  /* line 249, ../sass/style.scss */
  .price_a {
    margin-top: 7em;
    float: right;
  }

  /*****************************/
  /* line 255, ../sass/style.scss */
  .v_a_d, .vedette_a {
    text-align: center;
  }

  /* line 259, ../sass/style.scss */
  .vedette_a {
    margin-top: 0.5em;
    cursor: pointer;
  }

  /****************************/
  /* line 265, ../sass/style.scss */
  .detail_container {
    border: 1px solid #E2E5D1;
    padding: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  /* line 272, ../sass/style.scss */
  .detail_annonce {
    border: 1px solid #E2E5D1;
    display: inline-block;
  }

  /* line 277, ../sass/style.scss */
  .figure p {
    text-align: center;
    font-style: italic;
    font-size: small;
    font-weight: bold;
    text-indent: 0;
  }

  /* line 284, ../sass/style.scss */
  .figure {
    border: thin silver solid #E2E5D1;
    margin: 0.5em;
    padding: 0.5em;
  }

  /* line 289, ../sass/style.scss */
  .detail_desc {
    border: 1px solid #E2E5D1;
    display: inline-block;
    padding: 1em;
    margin: 1em;
  }

  /* line 295, ../sass/style.scss */
  .detail_info {
    border: 1px solid #E2E5D1;
    float: right;
    margin: 1em;
    padding: 0.9em;
  }

  /* line 303, ../sass/style.scss */
  .detail_info li {
    border: 1px dotted #E2E5D1;
    margin: 0.8em;
    padding: 4px 17px 11px;
    color: #f4f4f4;
    font-weight: bold;
    text-align: center;
  }

  /* line 312, ../sass/style.scss */
  .detail_info, .detail_desc {
    background-image: url("../img/bg1.png");
    color: #f4f4f4;
    font-family: times new roman;
    font-size: 15px;
  }

  /********************************/
  /* line 320, ../sass/style.scss */
  .detail_contact {
    border: 1px solid #E2E5D1;
    float: right;
  }

  /* line 325, ../sass/style.scss */
  .user {
    border: 1px solid #E2E5D1;
    background-image: url("../img/bg1.png");
    color: #f4f4f4;
  }

  /* line 330, ../sass/style.scss */
  .user strong, .pin strong, .time strong, .tel strong {
    margin-left: 4em;
  }

  /* line 334, ../sass/style.scss */
  .pin, .time, .tel {
    margin-top: 1em;
    margin-left: 4px;
  }

  /* line 338, ../sass/style.scss */
  .pin, .time {
    border-bottom: 1px solid #E2E5D1;
  }

  /**************************/
  /* line 343, ../sass/style.scss */
  .form_container {
    border: 1px solid #E2E5D1;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
  }

  /* line 349, ../sass/style.scss */
  .form_container > div {
    padding: 2em;
    margin: 2em;
    border: 2px dotted #E2E5D1;
    margin-left: 7em;
  }

  /* line 358, ../sass/style.scss */
  .form_input {
    text-align: left;
    display: table;
    margin-left: 7em;
  }

  /* line 365, ../sass/style.scss */
  .form_input > input, .form_input > select, .form_input > textarea {
    margin-bottom: 1em;
  }

  /* line 369, ../sass/style.scss */
  .form_input > input[type|="te"], .form_input > input[type|="email"].form_input > select {
    margin-bottom: 1em;
    width: 198px;
  }

  /* line 374, ../sass/style.scss */
  .form_title {
    text-align: center;
    display: inline-block;
    background-image: url("../img/bg1.png");
    color: #f4f4f4;
    padding: 0px 50px 0px 50px;
  }

  /* line 382, ../sass/style.scss */
  .subtitle_triangle {
    margin: 0px 0px 0px 0px;
    padding: 0px;
    border-color: #011C33 #011C33 #F2F2F2 #F2F2F2;
    border-style: solid;
    border-width: 8px;
    width: 0px;
    height: 0px;
    font-size: 0px;
  }

  /* line 395, ../sass/style.scss */
  .form_l {
    margin: 2px 5px 0px 0px;
    padding: 4px 0px 0px;
    width: 140px;
    font-size: 1em;
    text-align: left;
    float: left;
    font-weight: bold;
    text-align: right;
  }

  /* line 406, ../sass/style.scss */
  .add_btn {
    border: none !important;
  }

  /* line 407, ../sass/style.scss */
  .add_btn input {
    background-image: url("../img/bg1.png");
    color: #f4f4f4;
    float: left;
    margin-top: -20px;
  }
}
@media only screen and (min-width: 1024px) {
  /* line 415, ../sass/style.scss */
  .nav_bar {
    border: 1px solid #E2E5D1;
    background-color: #3D3234;
    padding: 5px;
    text-align: center;
    margin: 1px 1px 0px 1px;
    background-image: url("../img/bg1.png");
  }

  /* line 425, ../sass/style.scss */
  .separator {
    color: rgba(226, 229, 209, 0.51);
    font-weight: bold;
    font-size: 1em;
    margin-left: 2em;
    margin-right: 2em;
  }

  /* line 433, ../sass/style.scss */
  .menu_link {
    border: 1px solid #3D3234;
    background-image: url("../img/bg1.png");
    color: #f4f4f4;
    text-align: center;
    font-family: Helvetica;
    font-size: 1em;
    padding: 3px 15px;
    font-weight: bold;
  }

  /* line 446, ../sass/style.scss */
  .menu_link:hover {
    color: #3D3234;
    background-color: #D9241B;
    background-image: url("../img/bg7.png");
  }

  /* line 452, ../sass/style.scss */
  .banner {
    background-image: url("../img/banner.png");
    text-align: center;
    border: 1px solid #E2E5D1;
    margin: 2px 2px 0px 2px;
    padding: 7.5em;
  }

  /* line 461, ../sass/style.scss */
  .banner h1 {
    color: #E2E5D1;
    text-shadow: -6px 0px #011C33;
    font-weight: bold;
  }

  /*---------------------------*/
  /* line 468, ../sass/style.scss */
  .section_category {
    text-align: center;
    padding: 2em;
    margin-top: 1em;
    margin-bottom: 0.4em;
    float: left;
    display: inline-block;
    background-image: url("../img/bg7.png");
  }

  /* line 478, ../sass/style.scss */
  .category_title {
    background-image: url("../img/bg1.png");
    margin: -27px 0px 0px -27px;
    padding: 0.1em;
    width: 100%;
  }

  /* line 486, ../sass/style.scss */
  .category {
    border: 2px solid #E2E5D1;
    margin: 1.5em;
    padding: 8px 0px 0px 0px;
  }

  /* line 491, ../sass/style.scss */
  .category:hover {
    background-color: #f4f4f4;
  }

  /* line 496, ../sass/style.scss */
  div[class^='image_cat'] {
    width: 196px;
    height: 89px;
  }

  /* line 501, ../sass/style.scss */
  .image_cat1 {
    background: url("../img/category.png") no-repeat scroll -2042px -2px transparent;
  }

  /* line 504, ../sass/style.scss */
  .image_cat2 {
    background: url("../img/category.png") no-repeat scroll -1842px -2px transparent;
  }

  /* line 507, ../sass/style.scss */
  .image_cat3 {
    background: url("../img/category.png") no-repeat scroll -1642px -2px transparent;
  }

  /* line 510, ../sass/style.scss */
  .image_cat4 {
    background: url("../img/category.png") no-repeat scroll -1442px -2px transparent;
  }

  /* line 513, ../sass/style.scss */
  .image_cat5 {
    background: url("../img/category.png") no-repeat scroll -1240px -2px transparent;
  }

  /* line 516, ../sass/style.scss */
  .image_cat6 {
    background: url("../img/category.png") no-repeat scroll -1042px -2px transparent;
  }

  /* line 520, ../sass/style.scss */
  .caption_cat {
    height: 41px;
    border-radius: 0px 0px 3px 3px;
    text-shadow: 0px 1px rgba(255, 255, 255, 0.2);
    border-top: 1px solid #F4F7F9;
    background-image: url("../img/bg1.png");
  }

  /* line 528, ../sass/style.scss */
  .caption_cat h5 {
    font-size: 12px;
    line-height: 39px;
    margin: 5px 0px 0px 4px;
    font-weight: bold;
    color: #f4f4f4;
  }

  /*----------------------------*/
  /* line 538, ../sass/style.scss */
  .aside {
    margin-top: 1em;
    display: inline-block;
    padding: 0px;
    padding-bottom: 0.5em;
    background-image: url("../img/bg7.png");
  }

  /* line 547, ../sass/style.scss */
  .aside_title {
    text-align: center;
    border-bottom: 1px solid #E2E5D1;
    border-top: 1px solid #E2E5D1;
    margin: 0px;
    background-color: #f4f4f4;
    background-image: url("../img/bg1.png");
  }

  /* line 556, ../sass/style.scss */
  .aside_title > h4, .category_title > h4 {
    color: #f4f4f4;
    font-weight: bold;
    font-family: Helvetica;
    font-size: 1.1em;
  }

  /* line 563, ../sass/style.scss */
  .aside_city li {
    border: 2px solid #E2E5D1;
    text-align: center;
    font-family: Helvetica;
    font-weight: bold;
    cursor: pointer;
    width: 39%;
    float: left;
    /*background-image: url('../img/bg1.png');
    color: #f4f4f4;*/
  }

  /* line 574, ../sass/style.scss */
  .aside_city li:hover {
    background-image: url("../img/bg1.png");
    /*background: #D9241B;*/
    color: #f4f4f4;
  }

  /*----------------------*/
  /* line 582, ../sass/style.scss */
  .footer {
    border: 2px solid #E2E5D1;
    background-color: #3D3234;
    padding: 0px;
    text-align: center;
    margin: 0px;
    color: #E2E5D1;
    clear: both;
    background-image: url("../img/bg1.png");
  }

  /**************************************************/
  /*Page Search.html*/
  /* line 597, ../sass/style.scss */
  .barre_search {
    border: 1px solid;
    padding: 40px;
    margin: 10px 2px 10px 0px;
    text-align: center;
    background-image: url("../img/bg1.png");
  }

  /* line 605, ../sass/style.scss */
  .barre_search input, .barre_search select {
    margin: -40px 10px 0px;
    width: 17em;
  }

  /* line 610, ../sass/style.scss */
  .btn {
    float: right;
    float: right;
    padding-right: 3em;
    padding-left: 3em;
    margin-right: 1.2em;
    background-image: url("../img/bg7.png");
    font-weight: bold;
  }

  /* line 619, ../sass/style.scss */
  .btn:hover {
    /*background:rgba(156, 60, 60, 1);*/
    background-image: url("../img/bg7.png");
    color: #011527;
  }

  /* line 629, ../sass/style.scss */
  .detail {
    display: inline-block;
  }

  /* line 633, ../sass/style.scss */
  .annonce {
    border: 1px solid #E2E5D1;
    padding: 12px 0px 132px;
    margin: 1em;
    cursor: pointer;
    /*background-image: url('../img/bg1.png');*/
  }

  /* line 642, ../sass/style.scss */
  .annonce:hover, .v_a_d:hover {
    background-image: url("../img/bg1.png");
    color: #f4f4f4;
  }

  /* line 647, ../sass/style.scss */
  .vedette {
    border: 1px solid #E2E5D1;
    margin: 1em;
    float: right;
  }

  /***************************/
  /* line 654, ../sass/style.scss */
  .date_a, .title_a, .image_a, .price_a {
    float: left;
    display: inline-block;
    margin: 0px 30px 0px 18px;
    /*color: #f4f4f4;*/
  }

  /* line 660, ../sass/style.scss */
  .date_a {
    margin-top: 1em;
  }

  /* line 668, ../sass/style.scss */
  .title_a {
    margin-top: 3em;
  }

  /* line 672, ../sass/style.scss */
  .price_a {
    margin-top: 7em;
    float: right;
  }

  /*****************************/
  /* line 678, ../sass/style.scss */
  .v_a_d, .vedette_a {
    text-align: center;
  }

  /* line 682, ../sass/style.scss */
  .vedette_a {
    margin-top: 0.5em;
    cursor: pointer;
  }

  /****************************/
  /* line 688, ../sass/style.scss */
  .detail_container {
    border: 1px solid #E2E5D1;
    padding: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  /* line 695, ../sass/style.scss */
  .detail_annonce {
    border: 1px solid #E2E5D1;
    display: inline-block;
  }

  /* line 700, ../sass/style.scss */
  .figure p {
    text-align: center;
    font-style: italic;
    font-size: small;
    font-weight: bold;
    text-indent: 0;
  }

  /* line 707, ../sass/style.scss */
  .figure {
    border: thin silver solid #E2E5D1;
    margin: 0.5em;
    padding: 0.5em;
  }

  /* line 712, ../sass/style.scss */
  .detail_desc {
    border: 1px solid #E2E5D1;
    display: inline-block;
    padding: 1em;
    margin: 1em;
  }

  /* line 718, ../sass/style.scss */
  .detail_info {
    border: 1px solid #E2E5D1;
    float: right;
    margin: 1em;
    padding: 0.9em;
  }

  /* line 726, ../sass/style.scss */
  .detail_info li {
    border: 1px dotted #E2E5D1;
    margin: 0.8em;
    padding: 4px 17px 11px;
    color: #f4f4f4;
    font-weight: bold;
    text-align: center;
  }

  /* line 735, ../sass/style.scss */
  .detail_info, .detail_desc {
    background-image: url("../img/bg1.png");
    color: #f4f4f4;
    font-family: times new roman;
    font-size: 15px;
  }

  /********************************/
  /* line 743, ../sass/style.scss */
  .detail_contact {
    border: 1px solid #E2E5D1;
    float: right;
  }

  /* line 748, ../sass/style.scss */
  .user {
    border: 1px solid #E2E5D1;
    background-image: url("../img/bg1.png");
    color: #f4f4f4;
  }

  /* line 753, ../sass/style.scss */
  .user strong, .pin strong, .time strong, .tel strong {
    margin-left: 4em;
  }

  /* line 757, ../sass/style.scss */
  .pin, .time, .tel {
    margin-top: 1em;
    margin-left: 4px;
  }

  /* line 761, ../sass/style.scss */
  .pin, .time {
    border-bottom: 1px solid #E2E5D1;
  }

  /**************************/
  /* line 766, ../sass/style.scss */
  .form_container {
    border: 1px solid #E2E5D1;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
  }

  /* line 772, ../sass/style.scss */
  .form_container > div {
    padding: 2em;
    margin: 2em;
    border: 2px dotted #E2E5D1;
    margin-left: 7em;
  }

  /* line 781, ../sass/style.scss */
  .form_input {
    text-align: left;
    display: table;
    margin-left: 7em;
  }

  /* line 788, ../sass/style.scss */
  .form_input > input, .form_input > select, .form_input > textarea {
    margin-bottom: 1em;
  }

  /* line 792, ../sass/style.scss */
  .form_input > input[type|="te"], .form_input > input[type|="email"].form_input > select {
    margin-bottom: 1em;
    width: 198px;
  }

  /* line 797, ../sass/style.scss */
  .form_title {
    text-align: center;
    display: inline-block;
    background-image: url("../img/bg1.png");
    color: #f4f4f4;
    padding: 0px 50px 0px 50px;
  }

  /* line 805, ../sass/style.scss */
  .subtitle_triangle {
    margin: 0px 0px 0px 0px;
    padding: 0px;
    border-color: #011C33 #011C33 #F2F2F2 #F2F2F2;
    border-style: solid;
    border-width: 8px;
    width: 0px;
    height: 0px;
    font-size: 0px;
  }

  /* line 818, ../sass/style.scss */
  .form_l {
    margin: 2px 5px 0px 0px;
    padding: 4px 0px 0px;
    width: 140px;
    font-size: 1em;
    text-align: left;
    float: left;
    font-weight: bold;
    text-align: right;
  }

  /* line 829, ../sass/style.scss */
  .add_btn {
    border: none !important;
  }

  /* line 830, ../sass/style.scss */
  .add_btn input {
    background-image: url("../img/bg1.png");
    color: #f4f4f4;
    float: left;
    margin-top: -20px;
  }
}
